.clinic-grid-five .clinic-grid-info .clinic-five-btn .btn {
  background: #fff;
  color: #d59c4b;
}

.nav-bg-five .black-font > li > a {
}

.header {
  /* background: transparent;
  backdrop-filter: blur(10px);
  height: 72px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  display: block; */
}

.home-section-five {
  padding: 200px 0;
}

.home-section-five .section-search-five .search-box-five .tab-content {
  background: #ffffff2b;
  padding: 10px;
  border-radius: 0px 5px 5px 5px;
}

.home-section-five
  .section-search-five
  .search-box-five
  .nav-tabs.nav-tabs-solid {
  background-color: #fafafa33;
  border: 0;
}

.homepage-first-ads-banner {
  padding: 20px 0 0px;
}

.homepage-first-ads-banner .first-ads-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.customer-panel-ads-banner {
  max-width: 300px;
  height: 600px;
}

.customer-panel-ads-banner img {
  width: 100%;
  height: 100%;
}

.homepage-first-ads-banner.bottom {
  margin-bottom: 50px !important;
}

.homepage-first-ads-banner .first-ads-banner > img {
  max-width: 970px;
  width: 100%;
  height: auto;
}

.footer-five .policy-menu li a {
  transition: all 0.4s ease 0s;
  transform: translateX(0);
}

.footer-five .policy-menu li a:hover {
  color: #242424;
}

.iti {
  width: 100%;
}

.search-box-five {
  max-width: 370px !important;
  background: transparent !important;
}

.clinic-grid-five .clinic-img-five {
  width: 80%;
  height: 100%;
}

.clinic-grid-five .clinic-img-five img {
  width: 100%;
  height: 100%;
}

.clinic-grid-five {
  padding: 0;
}

.clinic-grid-five.hvr-bounce-to-bottom:before {
}

.clinic-grid-five .clinic-grid-info .clinic-five-btn .btn {
}

.clinic-grid-five:hover .clinic-grid-info p {
  color: #d59c4b;
}

.search-box-five form {
  flex-direction: column;
  height: auto !important;
}

.search-btn-five {
  width: 100%;
}

.search-btn-five .btn {
  width: 100%;
}

.search-input-five {
  width: 100% !important;
  margin-bottom: 5px !important;
}

@media (max-width: 720px) {
  .bar-icon {
    left: 400px;
  }
}

@media (max-width: 614px) {
  .bar-icon {
    left: 300px;
  }
}

@media (max-width: 835px) {
  .bar-icon {
    left: 0;
  }

  .logo img {
    max-width: 260px !important;
  }
}

@media (max-width: 765px) {
  .bar-icon {
    left: 480px;
  }
}

@media (max-width: 768px) {
  .homepage-first-ads-banner {
    margin-top: 60px;
  }

  .home-section-five {
    margin-top: 30px;
  }
}

@media (max-width: 705px) {
  .bar-icon {
    left: 400px;
  }
}

@media (max-width: 615px) {
  .bar-icon {
    left: 300px;
  }
}

@media (max-width: 514px) {
  .bar-icon {
    left: 260px;
  }
}

@media (max-width: 410px) {
  .bar-icon {
    left: 100px;
  }
}

@media (max-width: 474px) {
  .bar-icon {
    left: 200px;
  }
}

@media (max-width: 417px) {
  .bar-icon {
    left: 150px;
  }
}

@media (max-width: 363px) {
  .bar-icon {
    left: 120px;
  }
}

section.how-to-area {
  padding: 80px 0;
}

section.how-to-area .how-to-items .item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

section.how-to-area .how-to-items .item .number {
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #656565;
  text-shadow: 5px 5px #d59c4b;
  font-size: 90px;
}

section.how-to-area .how-to-items .item .hero {
  font-size: 20px;
  font-weight: 600;
  color: #063b6f;
  margin-bottom: 10px;
  text-transform: uppercase;
}

section.how-to-area .how-to-items .item .image {
  margin-bottom: 20px;
}

section.how-to-area .how-to-items .item .image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

section.how-to-area .how-to-items .item p {
}

section.how-to-area .how-to-items .item a {
  margin-top: 20px;
  height: 40px;
  padding: 20px 0;
}

.clinic-grid-five .clinic-grid-img {
  padding-top: 20px;
}

.nav-bg-five .logo {
  /* background-color: white;
  border-radius: 10px; */
}

.clinic-section-five .col-lg-2 {
  width: 19.666667%;
}

.browse-section-five .col-lg-3 {
  width: 19.666667%;
}

.browse-section-five .specialist-img-five .img-fluid {
  max-width: 25px;
  height: 25px;
}

.service-title {
  background: #d59c4b !important;
}

.informations svg > path {
  fill: #d59c4b !important;
}
