.clinic-grid-five .clinic-grid-info .clinic-five-btn .btn {
  background: #fff;
  color: #d59c4b;
}

.nav-bg-five .black-font > li > a {
}

.header {
  background: #fff;
}

.home-section-five {
  padding: 200px 0;
}

.homepage-first-ads-banner {
  padding: 20px 0 0px;
}

.homepage-first-ads-banner .first-ads-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.homepage-first-ads-banner .first-ads-banner > img {
  max-width: 970px;
  width: 100%;
  height: auto;
}

.footer-five .policy-menu li a {
  transition: all 0.4s ease 0s;
  transform: translateX(0);
}

.footer-five .policy-menu li a:hover {
  color: #fff;
}

@media (max-width: 720px) {
  .bar-icon {
    left: 400px;
  }
}

@media (max-width: 614px) {
  .bar-icon {
    left: 300px;
  }
}

@media (max-width: 835px) {
  .bar-icon {
    left: 0;
  }

  .logo img {
    max-width: 260px !important;
  }
}

@media (max-width: 765px) {
  .bar-icon {
    left: 480px;
  }
}

@media (max-width: 768px) {
  .homepage-first-ads-banner {
    margin-top: 60px;
  }

  .home-section-five {
    margin-top: 30px;
  }
}

@media (max-width: 705px) {
  .bar-icon {
    left: 400px;
  }
}

@media (max-width: 615px) {
  .bar-icon {
    left: 300px;
  }
}

@media (max-width: 514px) {
  .bar-icon {
    left: 200px;
  }
}

@media (max-width: 410px) {
  .bar-icon {
    left: 100px;
  }
}
